body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2196F3;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}


nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #d60909;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.resim-container {
    display: flex;
    gap: 40px; 
}

.resim {
    width: 30%; 
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
